openapi: 3.0.3
info:
  title: Fixzit Marketplace API
  description: |
    Complete OpenAPI specification for Fixzit Marketplace endpoints.
    
    This API provides comprehensive marketplace functionality including:
    - Product search and catalog management
    - Vendor and service provider operations  
    - Request for Quote (RFQ) system
    - Order management and tracking
    - Payment processing integration
    
    ## Authentication
    
    All endpoints require JWT authentication via the `Authorization` header:
    ```
    Authorization: Bearer <your_jwt_token>
    ```
    
    ## Tenant Isolation
    
    All requests are automatically scoped to your organization/tenant using the `x-tenant-id` header.
    
  version: 1.0.0
  contact:
    name: Fixzit API Support
    email: api-support@fixzit.co
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.fixzit.co/api
    description: Production server
  - url: https://staging-api.fixzit.co/api
    description: Staging server
  - url: http://localhost:3000/api
    description: Development server

paths:
  /marketplace/search:
    get:
      summary: Search marketplace products and services
      description: |
        Comprehensive search across marketplace catalog with advanced filtering,
        sorting, and pagination. Supports both text search and faceted filtering.
      operationId: searchMarketplace
      tags:
        - Marketplace Search
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          description: Search query text
          required: false
          schema:
            type: string
            example: "cement portland type I"
        - name: category
          in: query
          description: Filter by category
          required: false
          schema:
            type: string
            enum: [materials, services, equipment, labor]
      responses:
        '200':
          description: Search results retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
